# Python / Flet
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Flet 构建产物（云端重新生成，无需上传）
build/
dist/
*.log

# Flutter
.dart_tool/
.pub-cache/
.packages
pubspec.lock

# IDE / 系统
.idea/
.vscode/
.DS_Store
Thumbs.db
